<div data-repeater="templatr">
    <div class="ganttChartrRow">
        <span class="ganttChartrRowName">{{name}}</span>
        <span data-repeater="templatr" class="calendarDetails1Row" datasource="{{ days }}">
            <span class="calendarDetails1DayName">
                <span data-repeater="templatr" datasource="{{ events }}">
                    <span class="{{ className }}" data-id="{{id}}" style="{{width}}" data-number-of-days="{{ numberOfDays }}">{{ name }}</span>
                </span>
            </span>
        </span>
    </div>
</div>