<div data-repeater="templatr" datasource="{{ years }}" class="calendarHeader1Layout">
    <span class="ganttChartrRowName"></span>
    <div class="calendarHeader1Layout">
        <div class="calendarHeader1YearName">{{ yearName }}</div>
        <div data-repeater="templatr" datasource="{{ months }}" class="calendarHeader1Layout">
            <div class="calendarHeader1Layout calendarHeader1AlignmentFix">
                <div class="calendarHeader1MonthName">{{ monthName }}</div>
                <div data-repeater="templatr" datasource="{{ days }}" class="calendarHeader1Layout">
                    <span class="calendarHeader1DayName">{{ dayName }}</span>
                </div>
            </div>
        </div>
    </div>
</div>