.calendarHeader1MonthName,
.calendarHeader1YearName,
.calendarHeader1DayName {
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.calendarHeader1DayName {
    border-bottom: 1px solid black;
}