.calendarDetails1DayName {
    width: 20px;
    height: 24px;
    display: inline-block;
    border-collapse: collapse;
    vertical-align: top;
}

.calendarDetails1Row {
    height: 24px;
    white-space: nowrap;
    font-size: 16px;
}

.highlight {
    display: inline-block;
    z-index: 1;
    position: relative;
    padding: 2px;
}

.ganttChartrRow {
    white-space: nowrap;
    font-size: 0;
}

.ganttChartrRowName {
    width: 100px;
    display: inline-block;
    font-size: 16px;
}
