.calendarDetails1DayName {
    border-left: 1px solid black;
    border-collapse: collapse;
    border-top: 1px solid black;
}

.calendarDetails1DayName.highlight {
    background-color: yellow;
}
